[Unit]
Description=Junior Design Robot Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python /home/pi/Documents/Junior-Design-2A/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
